In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/home/arsal/Data/crap.csv')

In [20]:
data

   Pack  Size  Age
0   2.0   8.0
1   NaN   NaN  NaN
2   3.0   NaN    5
3   4.0  52.0    5
4   2.0   5.0    6

In [21]:
total_charges_filter = data.Age == " "

In [22]:
total_charges_filter

0     True
1    False
2    False
3    False
4    False
Name: Age, dtype: bool

In [23]:
data = data[~total_charges_filter]
data.TotalCharges = pd.to_numeric(data.Age)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [25]:
data

   Pack  Size  Age
1   NaN   NaN  NaN
2   3.0   NaN    5
3   4.0  52.0    5
4   2.0   5.0    6

In [26]:
data = data.dropna(how="all")

In [27]:
data

   Pack  Size Age
2   3.0   NaN   5
3   4.0  52.0   5
4   2.0   5.0   6

In [2]:
data = pd.read_csv('/home/arsal/Desktop/Time Series Data/Reduced Cleaned Datasets/KSE.csv')

In [6]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
data

            Date   Index      Open      High       Low     Close  KSE_Return
0     1998-07-01  KSE100    879.61    904.79    844.58    863.16      0.0000
1     1998-07-02  KSE100    863.16    881.95    839.88    878.17      0.0174
2     1998-07-03  KSE100    878.17    890.44    860.63    867.83     -0.0118
3     1998-07-04  KSE100    867.83    893.76    858.21    885.78      0.0207
4     1998-07-05  KSE100    867.83    893.76    858.21    885.78      0.0000
5     1998-07-06  KSE100    867.83    893.76    858.21    885.78      0.0000
6     1998-07-07  KSE100    885.78    905.51    866.45    866.71     -0.0215
7     1998-07-08  KSE100    885.78    905.51    866.45    866.71      0.0000
8     1998-07-09  KSE100    866.71    869.59    824.20    833.00     -0.0389
9     1998-07-10  KSE100    833.00    833.00    748.03    777.26     -0.0669
10    1998-07-11  KSE100    777.26    789.66    759.94    774.73     -0.0033
11    1998-07-12  KSE100    777.26    789.66    759.94    774.73      0.0000
12    1998-07-13  KSE100    777.26    789.66    759.94    774.73      0.0000
13    1998-07-14  KSE100    774.73    783.15    753.19    765.73     -0.0116
14    1998-07-15  KSE100    765.73    799.78    765.73    789.15      0.0306
15    1998-07-16  KSE100    789.15    851.85    789.15    847.76      0.0743
16    1998-07-17  KSE100    847.76    886.15    847.76    882.95      0.0415
17    1998-07-18  KSE100    882.95    930.40    882.95    884.11      0.0013
18    1998-07-19  KSE100    882.95    930.40    882.95    884.11      0.0000
19    1998-07-20  KSE100    882.95    930.40    882.95    884.11      0.0000
20    1998-07-21  KSE100    884.11    897.04    864.33    865.92     -0.0206
21    1998-07-22  KSE100    865.92    896.46    865.92    895.76      0.0345
22    1998-07-23  KSE100    895.76    922.59    881.90    921.46      0.0287
23    1998-07-24  KSE100    921.46    959.86    921.46    958.94      0.0407
24    1998-07-25  KSE100    958.94   1030.64    958.94   1029.27      0.0733
25    1998-07-26  KSE100    958.94   1030.64    958.94   1029.27      0.0000
26    1998-07-27  KSE100    958.94   1030.64    958.94   1029.27      0.0000
27    1998-07-28  KSE100   1029.27   1037.77    984.46    996.44     -0.0319
28    1998-07-29  KSE100    996.44    997.78    968.03    982.79     -0.0137
29    1998-07-30  KSE100    982.79    982.79    927.75    927.75     -0.0560
...          ...     ...       ...       ...       ...       ...         ...
7050  2017-10-19  KSE100  40733.45  41614.28  40733.45  41558.07      0.0202
7051  2017-10-20  KSE100  41558.07  42161.13  41474.33  42087.89      0.0127
7052  2017-10-21  KSE100  42087.89  42161.77  41414.26  41483.54     -0.0144
7053  2017-10-22  KSE100  42087.89  42161.77  41414.26  41483.54      0.0000
7054  2017-10-23  KSE100  42087.89  42161.77  41414.26  41483.54      0.0000
7055  2017-10-24  KSE100  41483.54  41483.54  40915.78  41291.68     -0.0046
7056  2017-10-25  KSE100  41291.68  41626.49  41291.68  41595.32      0.0074
7057  2017-10-26  KSE100  41595.32  41746.13  41357.49  41409.49     -0.0045
7058  2017-10-27  KSE100  41409.49  41434.45  40907.18  41105.41     -0.0073
7059  2017-10-28  KSE100  41105.41  41173.40  40259.28  40324.32     -0.0190
7060  2017-10-29  KSE100  41105.41  41173.40  40259.28  40324.32      0.0000
7061  2017-10-30  KSE100  41105.41  41173.40  40259.28  40324.32      0.0000
7062  2017-10-31  KSE100  40324.32  40324.32  39556.56  39617.19     -0.0175
7063  2017-11-01  KSE100  39617.19  40558.97  39617.19  40453.64      0.0211
7064  2017-11-02  KSE100  40453.64  40841.06  40350.29  40498.87      0.0011
7065  2017-11-03  KSE100  40498.87  41127.44  40449.97  41064.00      0.0140
7066  2017-11-04  KSE100  41064.00  41232.66  40928.27  41030.77     -0.0008
7067  2017-11-05  KSE100  41064.00  41232.66  40928.27  41030.77      0.0000
7068  2017-11-06  KSE100  41064.00  41232.66  40928.27  41030.77      0.0000
7069  2017-11-07  KSE100  41030.77  41262.45  41004.38  41049.22      0.0004
7070  2017-11-08  KSE100  41049.22  41293.99  40967.72  41259.16      0.0051
7071  2017-11-09  KSE100  41259.16  41850.56  41259.16  41790.16      0.0129
7072  2017-11-10  KSE100  41790.16  41836.35  41390.38  41435.70     -0.0085
7073  2017-11-11  KSE100  41435.70  41440.36  41141.52  41239.89     -0.0047
7074  2017-11-12  KSE100  41435.70  41440.36  41141.52  41239.89      0.0000
7075  2017-11-13  KSE100  41435.70  41440.36  41141.52  41239.89      0.0000
7076  2017-11-14  KSE100  41239.89  41317.43  40899.99  40943.78     -0.0072
7077  2017-11-15  KSE100  40943.78  40943.78  40592.77  40662.79     -0.0069
7078  2017-11-16  KSE100  40662.79  40885.65  40662.79  40813.31      0.0037
7079  2017-11-17  KSE100  40813.31  40910.76  40637.87  40844.40      0.0008

[7080 rows x 7 columns]

In [4]:
data2 = pd.read_csv('/home/arsal/Desktop/Time Series Data/Initial Raw Data downloaded from web/KSE.csv')

In [5]:
data2

,Date,Index,Open,High,Low,Close,Turnover,Market Capt.,Traded Value
0,11/17/2017,KSE100,40813.31,40910.76,40637.87,40844.40,58018690.0,1.984950e+12,4.663210e+09
1,11/16/2017,KSE100,40662.79,40885.65,40662.79,40813.31,51544410.0,1.986250e+12,4.169665e+09
2,11/15/2017,KSE100,40943.78,40943.78,40592.77,40662.79,47870700.0,1.979250e+12,5.995128e+09
3,11/14/2017,KSE100,41239.89,41317.43,40899.99,40943.78,57486520.0,1.992890e+12,4.584113e+09
4,11/13/2017,KSE100,41435.70,41440.36,41141.52,41239.89,34164780.0,2.007300e+12,2.631061e+09
5,11/10/2017,KSE100,41790.16,41836.35,41390.38,41435.70,54435250.0,2.016950e+12,4.176756e+09
6,11/9/2017,KSE100,41259.16,41850.56,41259.16,41790.16,78829710.0,2.034750e+12,8.454881e+09
7,11/8/2017,KSE100,41049.22,41293.99,40967.72,41259.16,57218800.0,2.010950e+12,4.927793e+09
8,11/7/2017,KSE100,41030.77,41262.45,41004.38,41049.22,53266560.0,2.000880e+12,4.914443e+09
9,11/6/2017,KSE100,41064.00,41232.66,40928.27,41030.77,45748770.0,2.000080e+12,3.971341e+09
10,11/3/2017,KSE100,40498.87,41127.44,40449.97,41064.00,60903140.0,2.002160e+12,5.974606e+09
11,11/2/2017,KSE100,40453.64,40841.06,40350.29,40498.87,66961460.0,1.975120e+12,5.815618e+09
12,11/1/2017,KSE100,39617.19,40558.97,39617.19,40453.64,63507520.0,1.973010e+12,5.835352e+09
13,10/31/2017,KSE100,40324.32,40324.32,39556.56,39617.19,93503570.0,1.932700e+12,8.332430e+09
14,10/30/2017,KSE100,41105.41,41173.40,40259.28,40324.32,53194770.0,1.967200e+12,5.439529e+09
15,10/27/2017,KSE100,41409.49,41434.45,40907.18,41105.41,79485640.0,2.005300e+12,6.839610e+09
16,10/26/2017,KSE100,41595.32,41746.13,41357.49,41409.49,65898830.0,2.020140e+12,5.537225e+09
17,10/25/2017,KSE100,41291.68,41626.49,41291.68,41595.32,48113710.0,2.029200e+12,4.197410e+09
18,10/24/2017,KSE100,41483.54,41483.54,40915.78,41291.68,64937510.0,2.014390e+12,5.117660e+09
19,10/23/2017,KSE100,42087.89,42161.77,41414.26,41483.54,64055660.0,2.023750e+12,6.345396e+09
20,10/20/2017,KSE100,41558.07,42161.13,41474.33,42087.89,111822950.0,2.053230e+12,9.979278e+09
21,10/19/2017,KSE100,40733.45,41614.28,40733.45,41558.07,113028290.0,2.024250e+12,9.113939e+09
22,10/18/2017,KSE100,40724.96,40869.36,40224.20,40733.45,49259630.0,1.992920e+12,4.463565e+09
23,10/17/2017,KSE100,40791.39,41354.68,40691.71,40724.96,81064270.0,1.992880e+12,8.060044e+09
24,10/16/2017,KSE100,39846.78,40809.79,39846.78,40791.39,55275740.0,2.045240e+12,4.973632e+09
25,10/13/2017,KSE100,40237.53,40237.53,39482.72,39846.78,78939370.0,2.000260e+12,5.783747e+09
26,10/12/2017,KSE100,40503.68,40792.06,39834.43,40237.53,62696140.0,2.019860e+12,4.998719e+09
27,10/11/2017,KSE100,40610.72,40777.42,40315.02,40503.68,52749290.0,2.036460e+12,4.279953e+09
28,10/10/2017,KSE100,41099.99,41112.27,40287.91,40610.72,121793390.0,2.046760e+12,5.477164e+09
29,10/9/2017,KSE100,41312.59,41339.38,41004.32,41099.99,52187570.0,2.074250e+12,4.952902e+09
...,...,...,...,...,...,...,...,...,...
4742,8/12/1998,KSE100,955.00,976.96,942.20,976.96,NaN,NaN,NaN
4743,8/11/1998,KSE100,981.03,981.21,948.95,955.00,NaN,NaN,NaN
4744,8/10/1998,KSE100,972.96,1022.55,972.96,981.03,NaN,NaN,NaN
4745,8/7/1998,KSE100,921.02,975.04,921.02,972.96,NaN,NaN,NaN
4746,8/6/1998,KSE100,907.11,925.53,897.78,921.02,NaN,NaN,NaN
4747,8/5/1998,KSE100,883.96,908.54,873.07,907.11,NaN,NaN,NaN
4748,8/4/1998,KSE100,865.13,896.94,860.10,883.96,NaN,NaN,NaN
4749,8/3/1998,KSE100,920.48,920.48,859.88,865.13,NaN,NaN,NaN
4750,7/31/1998,KSE100,927.75,927.75,899.84,920.48,NaN,NaN,NaN
4751,7/30/1998,KSE100,982.79,982.79,927.75,927.75,NaN,NaN,NaN
4752,7/29/1998,KSE100,996.44,997.78,968.03,982.79,NaN,NaN,NaN
4753,7/28/1998,KSE100,1029.27,1037.77,984.46,996.44,NaN,NaN,NaN
4754,7/27/1998,KSE100,958.94,1030.64,958.94,1029.27,NaN,NaN,NaN
4755,7/24/1998,KSE100,921.46,959.86,921.46,958.94,NaN,NaN,NaN
4756,7/23/1998,KSE100,895.76,922.59,881.90,921.46,NaN,NaN,NaN
4757,7/22/1998,KSE100,865.92,896.46,865.92,895.76,NaN,NaN,NaN
4758,7/21/1998,KSE100,884.11,897.04,864.33,865.92,NaN,NaN,NaN
4759,7/20/1998,KSE100,882.95,930.40,882.95,884.11,NaN,NaN,NaN
4760,7/17/1998,KSE100,847.76,886.15,847.76,882.95,NaN,NaN,NaN
4761,7/16/1998,KSE100,789.15,851.85,789.15,847.76,NaN,NaN,NaN
4762,7/15/1998,KSE100,765.73,799.78,765.73,789.15,NaN,NaN,NaN
4763,7/14/1998,KSE100,774.73,783.15,753.19,765.73,NaN,NaN,NaN
4764,7/13/1998,KSE100,777.26,789.66,759.94,774.73,NaN,NaN,NaN
4765,7/10/1998,KSE100,833.00,833.00,748.03,777.26,NaN,NaN,NaN
4766,7/9/1998,KSE100,866.71,869.59,824.20,833.00,NaN,NaN,NaN
4767,7/8/1998,KSE100,885.78,905.51,866.45,866.71,NaN,NaN,NaN
4768,7/6/1998,KSE100,867.83,893.76,858.21,885.78,NaN,NaN,NaN
4769,7/3/1998,KSE100,878.17,890.44,860.63,867.83,NaN,NaN,NaN
4770,7/2/1998,KSE100,863.16,881.95,839.88,878.17,NaN,NaN,NaN
4771,7/1/1998,KSE100,879.61,904.79,844.58,863.16,NaN,NaN,NaN

In [1]:
import statsmodels.api as stat
import statsmodels.tsa.stattools as ts
import quandl

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data1 = quandl.get("CHRIS/MCX_AL1", start_date="2016-11-01", api_key='U_PJwA55r5u8Lz_uFJ6L')
data2 = quandl.get("CHRIS/MCX_PB1", start_date="2016-11-01", api_key='U_PJwA55r5u8Lz_uFJ6L')

In [5]:
data1 #almunium

              Open    High     Low   Close  Volume  Open Interest
Date
2016-11-01  115.65  116.15  114.70  115.55  6196.0         6650.0
2016-11-02  114.80  115.15  113.50  114.65  8347.0         6481.0
2016-11-04  115.00  115.45  114.40  114.75  5162.0         6600.0
2016-11-07  116.00  116.50  114.25  115.15  6322.0         6062.0
2016-11-08  115.15  115.25  113.75  114.80  6749.0         5452.0
...            ...     ...     ...     ...     ...            ...
2019-07-30  138.55  139.30  137.85  138.35   183.0          541.0
2019-07-31  141.50  141.90  140.15  140.35  3093.0         2557.0
2019-08-01  140.45  140.55  138.70  138.95  2909.0         2653.0
2019-08-02  139.00  140.30  138.90  139.65  3767.0         2432.0
2019-08-05  139.40  141.50  139.40  141.20  2797.0         2347.0

[677 rows x 6 columns]

In [6]:
data2 #lead

              Open    High     Low   Close   Volume  Open Interest
Date
2016-11-01  138.30  138.85  136.75  138.00  12962.0         4407.0
2016-11-02  137.40  137.80  136.35  137.60  12194.0         4617.0
2016-11-04  138.75  140.20  138.30  139.75  10326.0         4849.0
2016-11-07  140.40  141.40  138.30  139.75  15924.0         4605.0
2016-11-08  139.90  141.60  138.10  140.85  15908.0         4388.0
...            ...     ...     ...     ...      ...            ...
2019-07-30  158.45  158.90  152.70  153.80    290.0           45.0
2019-07-31  153.00  154.70  152.00  154.05   8695.0         1281.0
2019-08-01  153.50  153.50  151.60  152.15   7705.0         1392.0
2019-08-02  151.50  152.45  150.20  151.50   7789.0         1472.0
2019-08-05  151.65  154.85  151.65  154.30   8816.0         1311.0

[677 rows x 6 columns]

## New Work

In [1]:
import pandas as pd

In [ ]:
dt = pd.read_csv('/')
dt = pd.read_excel('/')